<?xml version="1.0" encoding="utf-8" ?>
<!-- 保存对象的映射配置表，使用这个配置的所有对象必须实现IAlbianObject或者直接继承FreeAlbianObject -->
<AlbianObjects>	
	<AlbianObject Interface="org.albianj.qidian.test.object.IUser" 
	Type="org.albianj.qidian.test.object.impl.User">
		<Cache Enable="false" LifeTime="300" Name=""></Cache>
		<!-- 删除了缓存服务。所以这部分配置一直为false，等待开启了缓存服务，再更加实际情况配置 -->
		<Members> <!-- 所有对象的属性映射，如果使用默认，可以不需要配置 -->
			<Member Name="Id" FieldName="id" AllowNull="false"
				 DbType="Bigint" IsSave="true" PrimaryKey="true" />
		</Members>
	</AlbianObject>
</AlbianObjects>
